.navbar {
  background: #465649;
  height: 10%;
}

.navbar .navbar-brand {
  color: #f1cf69;
  font-size: 2rem;
}

.navbar .navbar-brand i {
  color: #f1cf69;
  font-size: 2rem;
}

.navbar .navbar-brand:hover {
  color: white;
  -webkit-text-decoration: #f1cf69 underline;
          text-decoration: #f1cf69 underline;
}

.navbar .nav-item {
  padding-left: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar .nav-item a.nav-link {
  color: #f1cf69;
}

.navbar .nav-item a.nav-link:hover {
  color: white;
  -webkit-text-decoration: #f1cf69 underline;
          text-decoration: #f1cf69 underline;
}

.sidebar {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar .donate {
  height: 25%;
  padding: 1rem;
  border-bottom: 2px solid #465649;
  margin-bottom: 1rem;
}

.sidebar .donate button {
  width: 80%;
  outline: none;
  border: none;
  background: #f1cf69;
  color: #333;
  padding: 1.3rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.sidebar .donate button:hover {
  background: rgba(241, 207, 105, 0.9);
  color: white;
}

.sidebar .donate .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar .subscribe {
  height: 25%;
  padding: 1rem;
  border-bottom: 2px solid #465649;
  margin-bottom: 1rem;
}

.sidebar .subscribe input {
  padding: 1.3rem 3rem;
  width: 80%;
}

.sidebar .subscribe button {
  width: 80%;
  outline: none;
  border: none;
  background: #f1cf69;
  color: #333;
  padding: 1.3rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.sidebar .subscribe button:hover {
  background: rgba(241, 207, 105, 0.9);
  color: white;
}

.sidebar .events {
  height: 50%;
  border-bottom: 2px solid #465649;
}

.sidebar .events td {
  font-size: 1.6rem;
}

.footer {
  height: 10%;
  background: #465649;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer h3 {
  color: #f1cf69;
}

.footer p {
  color: white;
}

.footer .social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .social-footer i {
  margin: 0 1.5rem;
  font-size: 1.5rem;
  color: #f1cf69;
}

#farm-container {
  height: 100%;
}

#farm-container .farm-main {
  height: 100%;
}

#farm-container .farm-main .farm-sub-nav a {
  color: #f1cf69;
}

#farm-container .farm-main .farm-sub-nav .farm-copy h1 {
  color: #333;
  font-weight: bold;
  font-size: 3rem;
}

#farm-container .farm-main .farm-sub-nav .farm-copy p {
  color: #333;
  font-size: 1.1rem;
}

#farm-container .farm-main .farm-sub-nav .farm-copy .farm-image img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: "average sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#landing-page-container {
  background: url(../assets/images/ghwithclass.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#landing-page-container .cta {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing-page-container .cta i {
  font-size: 20rem;
  color: #f1cf69;
}

#landing-page-container .cta h1 {
  color: #465649;
  font-size: 6rem;
}

#landing-page-container .cta button {
  outline: none;
  border: none;
  background: #f1cf69;
  color: #333;
  padding: 1.3rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#landing-page-container .cta button:hover {
  background: rgba(241, 207, 105, 0.9);
  color: white;
}

.content-wrapper {
  background: white;
}

#home-container {
  margin: 0 -45px 0 -15px;
}

#home-container .home-grid .carousel {
  max-height: 30rem;
  border: 1px solid blue;
  padding: 0;
}

#home-container .home-grid .carousel .carousel-item {
  max-height: 30rem;
}

#home-container .home-grid .carousel .carousel-item img {
  height: auto;
  width: 100%;
}

#home-container .home-grid .carousel .carousel-item .carousel-caption {
  color: #333;
}

#involved-container {
  height: 100vh;
}

#involved-container #nav-tab a {
  font-size: 2rem;
  color: red;
}

#involved-container #nav-tab a:hover {
  color: #465649;
}

#involved-container #get-involved {
  height: 100vh;
}

#involved-container #s-gardens {
  height: 100vh;
}

#involved-container #gfe {
  height: 100vh;
}

#involved-container #sol {
  height: 100vh;
}

#blog-container {
  height: 100vh;
}

#about-container {
  height: 100vh;
}

#about-container .about-content {
  padding: 1rem 0;
  border-top: 3px solid #465649;
  border-bottom: 3px solid #465649;
}

#about-container .about-content .about-image img {
  width: 100%;
  height: auto;
}

#about-container .about-content .about-copy {
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about-container .about-content .about-copy h1 {
  color: #333;
  font-weight: bold;
  font-size: rem;
}

#about-container .about-content .about-copy p {
  color: #333;
  font-size: 1.1rem;
}

#about-container .about-boxes {
  margin-top: 2rem;
  height: auto;
}

#about-container .about-boxes .about-box {
  height: auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #465649;
  cursor: pointer;
  -webkit-box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
          box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
}

#about-container .about-boxes .about-box:hover {
  background: rgba(70, 86, 73, 0.8);
}

#about-container .about-boxes .about-box h3 {
  color: #87b499;
  font-weight: bold;
  font-size: 1.7rem;
}

#about-container .about-boxes i {
  font-size: 6rem;
  color: #f1cf69;
}

#contact-container {
  height: 100vh;
  padding-top: 5rem;
}

#contact-container .contact .map {
  height: auto;
  width: 100%;
  -webkit-box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
          box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
}

#contact-container .contact .map iframe {
  width: 100%;
  height: auto;
}

#contact-container .contact .contact-area {
  border-top: 2px solid #465649;
  border-bottom: 2px solid #465649;
}

#contact-container .contact .contact-area form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
          box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
}

#contact-container .contact .contact-area form .form-head {
  font-size: 1.7rem;
}

#contact-container .contact .contact-area form .contact-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#contact-container .contact .contact-area form .contact-input .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact-container .contact .contact-area form .contact-input i {
  background: #465649;
  font-size: 1rem;
  color: #f1cf69;
  margin: 0.3rem 0;
  padding: 0.7rem;
  width: 3rem;
  height: auto;
  text-align: center;
}

#contact-container .contact .contact-area form .contact-input input {
  margin: 0.3rem 0;
  width: 100%;
  padding: 0.7rem;
  border: none;
  -webkit-box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
          box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
}

#contact-container .contact .contact-area form .contact-textarea textarea {
  padding: 0.7rem;
  border: none;
  width: 100%;
  -webkit-box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
          box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
}

#contact-container .contact .contact-area form .contact-textarea .contact-button button {
  width: 100%;
  border: none;
  outline: none;
  background: #f1cf69;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

#contact-container .contact .contact-area .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 99%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#contact-container .contact .contact-area .contact-info .contact-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 3rem;
  background: white;
  height: 100%;
  -webkit-box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
          box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
}

#contact-container .contact .contact-area .contact-info .contact-grid .contact-address {
  width: 100%;
  border-bottom: 2px solid #465649;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
}

#contact-container .contact .contact-area .contact-info .contact-grid .contact-address h3 {
  font-size: 1.57rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: bold;
}

#contact-container .contact .contact-area .contact-info .contact-grid .contact-address p {
  font-size: 1.1rem;
  color: #333;
}

#contact-container .contact .contact-area .contact-info .contact-grid .contact-social {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  color: #465649;
}
/*# sourceMappingURL=week10main.css.map */