// Footer
.footer {
	height: 10%;
	// width: 100%;
	background: rgba($color: $dark-green, $alpha: 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	h3 {
		color: $yellow;
	}

	p {
		color: white;
	}

	.social-footer {
		display: flex;
		justify-content: space-between;

		i {
			margin: 0 1.5rem;
			font-size: 1.5rem;
			color: $yellow;
		}
	}
}
