// GET INVOLVED CONTAINER STYLES
#involved-container {
	.involved-main {
		margin-top: 6rem;
	}
	#get-involved {
		.img-header-involved {
			height: 25rem;
			width: 69.375rem;
			background: url(../assets/images/involved-kids-gardening.jpg);
			background-size: cover;
			background-position: center center;
		}
	}

	#s-gardens {
		.img-header-school {
			height: 25rem;
			width: 69.375rem;
			background: url(../assets/images/involved-sg-yummysign.jpg);
			background-size: cover;
			background-position: center center;
		}
	}

	#gfe {
		.img-header-gfe {
			height: 25rem;
			width: 69.375rem;
			background: url(../assets/images/33435702-33435702.jpg);
			background-size: cover;
			background-position: center center;
		}
	}

	#sol {
		.img-header-sol {
			height: 25rem;
			width: 69.375rem;
			background: url(../assets/images/involved-sol-group-2013.jpg);
			background-size: cover;
			background-position: center center;
		}
	}
}
// END GET INVOLVED CONTAINER STYLES
