// sidebar styles
.sidebar {
	border: 1px solid red;
	margin: 0;
	padding: 0;
	width: 100%;
	// donate area
	.donate {
		height: 25%;
		padding: 1rem;
		border-bottom: 2px solid $dark-green;
		margin-bottom: 1rem;

		button {
			width: 80%;
			outline: none;
			border: none;
			background: $yellow;
			color: #333;
			padding: 1.3rem 3rem;
			font-size: 1.2rem;
			cursor: pointer;

			&:hover {
				background: rgba($color: $yellow, $alpha: 0.9);
				color: white;
			}
		}

		.form-check {
			display: flex;
			justify-content: space-evenly;
		}
	}
	// end donate area

	// newsletter area
	.subscribe {
		height: 25%;
		padding: 1rem;
		border-bottom: 2px solid $dark-green;
		margin-bottom: 1rem;

		input {
			padding: 1.3rem 3rem;
			width: 80%;
		}

		button {
			width: 80%;
			outline: none;
			border: none;
			background: $yellow;
			color: #333;
			padding: 1.3rem 3rem;
			font-size: 1.2rem;
			cursor: pointer;

			&:hover {
				background: rgba($color: $yellow, $alpha: 0.9);
				color: white;
			}
		}
	}
	// end newsletter area

	// events area
	.events {
		height: 50%;
		border-bottom: 2px solid $dark-green;

		td {
			font-size: 1.6rem;
		}
	}
	// end events area
}
// end sidebar
