// font-family: 'Amaranth', sans-serif; LOOKS GOOD IN CAPS NOT FOR THIS SITE BUT SAVE
// font-family: 'Text Me One', sans-serif; NOT FOR THIS SITE BUT SAVE THIS FONT

// font-family: 'Average Sans', sans-serif;
// font-family: 'Barlow', sans-serif; +++++++ GREAT FOR BODY COPY
// font-family: 'Bellota', cursive; LOGO POSSIBLILITY
// font-family: 'Sevillana', cursive; LOGO POSSIBLILITY

@import "variables";
@import "nav";
@import "sidebar";
@import "footer";
@import "farm";

// GLOBAL STYLES
* {
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow: hidden;
	font-family: "average sans", sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
// END GLOBAL STYLES

// LANDING PAGE STYLES
#landing-page-container {
	background: url(../assets/images/ghwithclass.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 100vh;
	width: 100vw;

	// call to action
	.cta {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		i {
			font-size: 20rem;
			color: $yellow;
		}

		h1 {
			color: rgba($color: $dark-green, $alpha: 1);
			font-size: 6rem;
		}

		button {
			outline: none;
			border: none;
			background: $yellow;
			color: #333;
			padding: 1.3rem 3rem;
			font-size: 1.2rem;
			cursor: pointer;

			&:hover {
				background: rgba($color: $yellow, $alpha: 0.9);
				color: white;
			}
		}
	}
}
// END LANDING PAGE STYLES

// .body-bg {
// 	background: rgba($color: white, $alpha: 0.2);
// }

.content-wrapper {
	background: white;
}

// HOME CONTAINER STYLES
#home-container {
	// height: 100vh;
	margin: 0 -45px 0 -15px;

	// grid for home content
	.home-grid {
		// height: 100vh;
		// width: 100%;

		// carousel styles
		.carousel {
			max-height: 30rem;
			border: 1px solid blue;
			padding: 0;

			.carousel-item {
				max-height: 30rem;

				img {
					height: auto;
					width: 100%;
				}

				.carousel-caption {
					color: #333;
				}
			}
		}
		// end carousel styles

		// Info card styles

		// end info cards
	}
	// end home grid
}
// END HOME CONTAINER STYLES

// GET INVOLVED CONTAINER STYLES
#involved-container {
	height: 100vh;

	#nav-tab {
		a {
			font-size: 2rem;
			color: red;

			&:hover {
				color: $dark-green;
			}
		}
	}

	#get-involved {
		height: 100vh;
	}

	#s-gardens {
		height: 100vh;
	}

	#gfe {
		height: 100vh;
	}

	#sol {
		height: 100vh;
	}
}
// END GET INVOLVED CONTAINER STYLES

// BLOG CONTAINER STYLES
#blog-container {
	height: 100vh;
}
// END BLOG CONTAINER STYLES

// ABOUT CONTAINER STYLES
#about-container {
	height: 100vh;

	.about-content {
		padding: 1rem 0;
		border-top: 3px solid $dark-green;
		border-bottom: 3px solid $dark-green;

		.about-image {
			img {
				width: 100%;
				height: auto;
			}
		}

		.about-copy {
			padding: 0 4rem;
			display: flex;
			flex-direction: column;

			h1 {
				color: #333;
				font-weight: bold;
				font-size: rem;
			}

			p {
				color: #333;
				font-size: 1.1rem;
			}
		}
	}

	// Info boxes
	.about-boxes {
		margin-top: 2rem;
		height: auto;

		.about-box {
			height: auto;
			padding: 2rem 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: $dark-green;
			cursor: pointer;
			box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);

			&:hover {
				background: rgba($color: $dark-green, $alpha: 0.8);
			}

			h3 {
				color: $green;
				font-weight: bold;
				font-size: 1.7rem;
			}
		}

		i {
			font-size: 6rem;
			color: $yellow;
		}
	}
	// end info boxes
}
// END ABOUT CONTAINER STYLES

// CONTACT CONTAINER STYLES
#contact-container {
	height: 100vh;
	padding-top: 5rem;

	// Grid container for contact map and form
	.contact {
		// map area - top
		.map {
			height: auto;
			width: 100%;
			box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);

			iframe {
				width: 100%;
				height: auto;
			}
		}
		// end map

		// contact area - bottom
		.contact-area {
			border-top: 2px solid $dark-green;
			border-bottom: 2px solid $dark-green;

			// form area - left side
			form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);

				.form-head {
					font-size: 1.7rem;
				}

				.contact-input {
					display: flex;
					flex-direction: column;
					width: 100%;

					.inputs {
						display: flex;
					}

					i {
						background: $dark-green;
						font-size: 1rem;
						color: $yellow;
						margin: 0.3rem 0;
						padding: 0.7rem;
						width: 3rem;
						height: auto;
						text-align: center;
					}

					input {
						margin: 0.3rem 0;
						width: 100%;
						padding: 0.7rem;
						border: none;
						box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
					}
				}

				.contact-textarea {
					textarea {
						padding: 0.7rem;
						border: none;
						width: 100%;
						box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);
					}

					.contact-button {
						button {
							width: 100%;
							border: none;
							outline: none;
							background: $yellow;
							font-size: 1.5rem;
							padding: 0.5rem;
							margin-bottom: 0.3rem;
						}
					}
				}
			}
			// end form area left side

			// contact info - right side
			.contact-info {
				display: flex;
				flex-direction: column;
				width: 99%;
				justify-content: center;
				align-items: center;
				margin: 0 auto;

				.contact-grid {
					display: flex;
					flex-direction: column;
					padding: 1rem 3rem;
					background: white;
					height: 100%;
					box-shadow: 6px 5px 20px 2px rgba(51, 51, 51, 0.1);

					.contact-address {
						width: 100%;
						border-bottom: 2px solid $dark-green;
						margin-bottom: 3rem;
						padding-bottom: 4rem;

						h3 {
							font-size: 1.57rem;
							margin-bottom: 1.5rem;
							color: #333;
							font-weight: bold;
						}

						p {
							font-size: 1.1rem;
							color: #333;
						}
					}

					.contact-social {
						width: 100%;
						font-size: 3rem;
						text-align: center;
						color: $dark-green;
					}
				}
			}
			// end contact info right side
		}
		// end contact area bottom
		// End contact grid area
	}
	// end contact container styles
}
// END CONTACT CONTAINER
