* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.home-wrapper {
	height: 100vh;
	background: url(../week4/assets/images/pexels-binyamin-mellish-169523.jpg);
	background-color: black;
	background-blend-mode: screen;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#logo {
	display: block;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba($color: #000000, $alpha: 0.5);
	text-align: center;
	padding: 200px 0;

	h1 {
		font-family: "Poiret One", "Pacifico", cursive;
		font-size: 120px;
		color: white;
		font-weight: bold;
	}
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	background: rgba($color: rgb(80, 206, 101), $alpha: 0.4);
	width: 100vw;

	.nav-links-list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 20px 0;

		.nav-link {
			&:hover {
				transform: scale(1.6);
			}
			a {
				color: white;
				font-family: "Poiret One", cursive;
				font-size: 32px;
				font-weight: bold;
			}
		}
	}
}
